body {
  font-size: 16px;
  color: #666;
}

h1 {
  font-size: 2em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 1em;
}

p {
  margin: 1.55em 0;
}

a.title {
  color: #666;
}

/* inline code block */
code {
  background-color: #2b2b2b;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);

  white-space: pre;
  /* display: inline-block; */
  margin: 0;
  font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  padding: 0 0.5em;
}

.share-buttons svg {
  height: 30px;
  vertical-align: middle;
}

.icon-sns svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/* HEADER */
ul.tags {
  font-size: .8em;
  margin-top: 0;
}
ul.tags i {
  margin-top: 2px;
  font-size: 1.2em;
}
ul.tags li {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
}
ul.tags li:first-child {
  margin-right: 5px;
}
ul.tags li a {
  color: #47bcc6;
}
ul.tags li a:hover {
  /* color: #039be5; */
  text-decoration: underline;
}
ul.tags:after {
  content: " ";
  display: block;
  clear: both;
}

header {
  margin-bottom: 40px;
}

.date {
  font-size: .8em;
  margin: 0;
}
