body {
  font-size: 16px;
  color: #666;
}

h1 {
  font-size: 2em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 1em;
}

p {
  margin: 1.55em 0;
}

.date {
  margin-bottom: 40px;
  font-size: .8em;
}

a.title {
  color: #666;
}


code {
  background-color: #2b2b2b;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);

  white-space: pre;
  /* display: inline-block; */
  margin: 0;
  font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  padding: 0 0.5em;
}
