---
layout: default
---

{% for post in site.posts %}
  <section>
    <header>
      <h1><a href="{{ post.url }}" class="title">{{ post.title }}</a></h1>
      <p class="date">投稿日: {{ post.date | date: "%Y-%m-%d" }}</p>

      <ul class="tags">
        <li><i class="material-icons">work</i></li>
        {% for tag in post.tags %}
        <li>
        <a href="/{{ tag }}.html">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </header>

    <div class="entry">{{ post.excerpt }}</div>
    <div class="more">
      <a href="{{ post.url }}" class="waves-effect waves-light btn">続きを読む</a>
    </div>

  <section>
  <div class="divider"></div>
{% endfor %}
