<!DOCTYPE html>
<html>

  <head>
    {% include head.html  %}
  </head>

  <body>

  <!-- HEADER -->
  {% include nav.html  %}

  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col m9 s12">

        <h3>{{ page.title }}</h3>
        <p class="date">
          投稿日: {{ page.date | date: "%Y-%m-%d" }}
          {% if page.update_date %}
          &nbsp; &nbsp; &nbsp; &nbsp;
          更新日: {{ page.update_date | date: "%Y-%m-%d" }}
          {% endif %}
        </p>
        <ul class="tags">
          <li><i class="material-icons">work</i></li>
          {% for tag in page.tags %}
          <li>
          <a href="/{{ tag }}.html">{{ tag }}</a></li>
          {% endfor %}
        </ul>

        <ul class="row center-align share-buttons">
          <li class="col s3"><a href="https://twitter.com/share?text={{ page.title }}&amp;hashtags={{ page.tags | join: ","}}" class="btn transparent" target="_blank">{% include icon-twitter.svg %}</a></li>
          <li class="col s3"><a href="http://b.hatena.ne.jp/add?mode=confirm&amp;url={{ page.url | prepend: site.url }}&amp;title={{ page.title }}" title="このエントリーをはてなブックマークに追加" class="btn transparent" target="_blank">{% include icon-hatebu.svg %}</a></li>
          <li class="col s3"><a href="https://getpocket.com/edit?url={{ page.url | prepend: site.url }}" class="btn transparent" target="_blank">{% include icon-pocket.svg %}</a></li>
          <li class="col s3"></li>
        </ul>

        <div class="divider"></div>
        {{ content }}

      </div>
      <div class="col m3 s12">
        {% include sidebar.html %}
      </div>
    </div>
  </div>

  <!-- FOOTER  -->
  {% include footer.html  %}

  </body>
</html>
