<!DOCTYPE html>
<html>

  <head>
    {% include head.html  %}
  </head>

  <body>

  <!-- HEADER -->
  {% include nav.html  %}

  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col m9 s12">

        <h3>{{ page.title }}</h3>
        <p class="date">投稿日: {{ page.date | date: "%Y-%m-%d" }}</p>

        <div class="divider"></div>
        {{ content }}

      </div>
      <div class="col m3 s12">
        {% include sidebar.html %}
      </div>
    </div>
  </div>

  <!-- FOOTER  -->
  {% include footer.html  %}

  </body>
</html>
